/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900');


*{
    font-family: 'Poppins', sans-serif;
}
html,body {
    margin: 0;
}
.example-card {
    max-width: 400px;
    margin: 20px auto;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
